.picture_container {
  width: 800px;
  margin: 50px auto;
  padding: 50px;

  background: #f2f2f2;
  border-radius: 10px;
}

.picture_button {
  display: inline-block;
  width: calc(50% - 20px);
  margin: 0 20px 0 0;
}

.picture_button:last-of-type {
  margin: 0 0 0 20px;
}

.picture_image {
  width: 100%;
  margin: 20px 0 0;
}

.error {
  margin: 20px 0 0;
  padding: 20px;

  background: rgba(255, 0, 0, .5);
  border-radius: 5px;
}
